:root {
    --primery-text-color:#757575;
    --white-text-color:#ffffff;
    --black-text-color:#000000;
    --title-text-color:#212121;
    --accent-color:#2196f3;
    --primery-bg-color:#ffffff;
    --secondary-bg-color:#eeeeee;
    --footer-bg-color:#2F303A;
    --cards-bg-color:#eeeeee;
    --team-bg-color:#f5f4fa;
    --secondary-btn-color:#f5f4fa;
    --primery-logo-color:#2196f3;
    /* ---декоративная разделительная линия--- */
    --deco-line-color:#ececec;
}

body {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--primery-text-color);

    background-color: var(--primery-bg-color);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}



.btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-text-color);

    border-radius: 4px;
    background-color: var(--accent-color);

    cursor:pointer;
}

/* -------------Header------------- */

 /* -------Logo---- - */
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;

    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--accent-color);
}
.header-logo-deco {
    color: var(--black-text-color);
}

.footer-logo {
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 26px;

    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--accent-color);
}
.footer-logo-deco {
    color: var(--white-text-color);
}

/* ------Site navigation------- */

.header-nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--title-text-color);
}
.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--accent-color);
}
.header-nav-link.active {
    color :var(--accent-color);
}

/* ---------Contacts-------- */
.header-contacts-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primery-text-color);
}
.header-contacts-link:hover,
.header-contacts-link:focus,
.footer-contacts-link:hover,
.footer-contacts-link:focus,
.footer-link-addr:hover,
.footer-link-addr:focus {
    color: var(--accent-color);
}

/* ---------------Footer--------------- */
.footer {
    background-color: var(--footer-bg-color);
}
.footer-link-addr {
    font-style: normal;
    font-size: 14px;

    line-height: 1.71;

    color: var(--white-text-color);
}
.footer-contacts-link {
    font-style: normal;
    font-size: 14px;

    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}



/* -----------------Студия-------------- */
.hero {
    background-color: var(--footer-bg-color);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;

    line-height: 1.36;
    letter-spacing: 0.06em;

    color: var(--white-text-color);
    text-transform: uppercase;

}
.hero-btn {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;

    line-height: 1.87;
    letter-spacing: 0.06em;
}

/* ------------Features---------- */
.features-title {
    visibility:hidden;
}

.features-item {
    width: 270px;
    background-color: var(--primery-bg-color);
}
.features-item-title {
    font-weight: 700;
    font-size: 14px;

    line-height: 1.14;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
    text-transform: uppercase;
}
.features-item-text {
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
}

/* ----------About------------ */
.about-item {
    width: 370px;
    height: 294px;
}
.about-title {
    font-weight: 700;
    font-size: 36px;

    line-height: 1.16;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}


/* -----------Our-team------------ */
.our-team {
    background-color: var(--team-bg-color);
}
.our-team-title {
    font-weight: 700;
    font-size: 36px;

    line-height: 1.16;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}
.our-team-item {
    width: 270px;
    background-color: var(--primery-bg-color);
}
.stuff-name {
    font-weight: 500;
    font-size: 16px;

    line-height: 1.18;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}
.title-position {
    font-size: 16px;
    line-height: 1.18;
}



/* ------------Portfolio----------- */
.portfolio-title {
    visibility: hidden;
}
.portfolio-filter-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    line-height: 1.62;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
    background-color: var(--secondery-btn-color);
}
.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
}

.portfolio-card-item {
    width: 370px;
    height: 404px;

    background-color: var(--primery-bg-color);
}
.portfolio-card-title {
    font-weight: 700;
    font-size: 18px;

    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--title-text-color);
}
.portfolio-card-text {
    font-size: 16px;

    line-height: 1.87;

    color: var(--primery-text-color);
}

/* -------------------------- */




